/lab1/z1/z1
/lab1/z2/z2
/lab1/z3/z3
/lab2/l2
/lab3/Opis_Temat2_2023_v3.pdf
/lab3/z1
/lab3/z2
/lab3/z3
/misc/matrix
/lab4/main
*.pdf
/lab5/audit.c
/lab5/test
/lab5/testieren.c
/lab5/tst
/lab5/z1
/lab5/z2
/misc/donut/
/lab5/z22
/lab5/z22.c
/lab6/z1
/lab6/z2
